<?xml version="1.0" encoding="utf-8"?>
<data>

<mapSettings 

mapWidth = "980"
mapHeight = "720"

offColor = "222222"
strokeColor = "24221f"
strokeWidth = ".5"

useSideText = "false"
textAreaWidth = "300"
textAreaHeight = "300"
textAreaPadding = "10"

/>
 

<stateData stateName="Western Australia" url = "/WA" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>

<stateData stateName="South Australia" url = "/SA" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>

<stateData stateName="Victoria" url = "/VIC" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>

<stateData stateName="New South Wales" url = "/NSW" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>

<stateData stateName="Queensland" url = "/QLD" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>

<stateData stateName="Northern Territory" url = "/NT" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>

<stateData stateName="Tasmania" url = "/TM" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>

<stateData stateName="Australian Capitol Territory" url = "/ACT" stateMode = "ON" initialStateColor= "e6e6e6" stateOverColor = "e6e6e6" stateSelectedColor = "feb41c">
</stateData>




</data>